.toolTip {
    position: absolute;
    display: none;
    width: auto;
    height: auto;
    border-radius: 8px 8px 8px 8px;
    color: black;
    font: 25px sans-serif;
    padding: 5px;
    text-align: center;
}

path.slice{
    opacity: 0.7;
}

path {
    stroke-width: 1;
    fill: none;
}