/*Name: Marijn Gulpen
Student number: 10575243
CSS stylesheet Duallinegraph */

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: #6b486b;
  opacity: 0.7;
}

.timeline {
  position: absolute;  
  stroke-dasharray: 3, 3;
}

.y.axisLeft text {
    fill: darkred;
}

.y.axisRight text {
    fill: steelblue;
}