/*Name: Marijn Gulpen
Student number: 10575243
CSS stylesheet Homepage and Basic style */

body {
  font-size: 1.3em;
}

.container {
  margin-top: 20px;
  margin-bottom: 50px;
}

.title {
    font-size: 1.5em;
    text-align: center;
}

/*Introduction and footer*/
#introbackground {
    border-radius: 25px;
    background: #F0F0F0;
}

#introductiongraph {
  text-align: center;
  margin: auto;
  width: 50%;
}

#introtext {
  text-align: justify;
  font-size: 1.2em;
  margin-left: 15%;
  width: 70%;
}

.line { 
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.x .title{
  font-size: 1em;
  font-weight: bold;
  text-anchor: end;
}

#source {
  margin-top: 20%;
  font-size: .8em;
  position: absolute;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

/*Visualizations & interactive components*/
#worldmap {
    height: 420px;
}

#dualgraph {
  width: 600px;
}

#ranktable {
  font-size: .9em;
  width: 350px;
}


