/*Name: Marijn Gulpen
Student number: 10575243
CSS stylesheet Worldmap */

.datamaps-legend dd {
    float: right;
}

.datamaps-legend {
    position: absolute;
  top: 15%;
  margin-left: 200px;
}

.datamaps-subunit {
  cursor: pointer;
}

.hovertable {
    width: 220px;
}
