#piechart {
    position: relative; 
    float: left;
    width: 300px; 
    height: 300px;
    margin: auto;
}

.piechart-vis {
    width: 300px;
    height: 300px;
   /* bottom: 0px;*/
}

.piechart-vis g.arc {
    bottom: 0px;
}

.piechart-title {
    font-size: 0.8em;
    position: absolute;
    /*top: 0;*/
}

.arc .numbers {
    font-size: 0.8em;
    font-weight: initial;
}

.legend text {
    font-size: 0.8em;
    font-weight: initial;
}