/*title*/
h1 {
    font-size: 1.8em;
    font-weight: bold;
    text-align: center;
    font-family: "Verdana", sans-serif;
}

/*link to source*/
h2 {
    font-size: 0.9em;
    font-weight: initial;
    text-align: center;
    font-family: "Verdana", sans-serif;
}


/*time slider*/
.axis {
  fill: gray;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.axis .halo {
  stroke: gray;
  stroke-width: 4px;
  stroke-linecap: round;
}

.axis .tick text{
    font-size: 15px;
    font-family: "Verdana", sans-serif;
}

.slider .handle path {
  stroke: white;
  stroke-width: 6px;
  stroke-linecap: round;
  pointer-events: none;
}

.slider .handle text {
  fill: gray;
  text-align: center;
  font-size: 15px;
  font-family: "Verdana", sans-serif;
}

.slider-svg {
    margin: auto;
}
