body { 
    font-family: 'Helvetica Neue', Helvetica; 
    font-weight: 300; 
    padding: 20px;
}

/*title*/
h1 {
    font-size: 1.8em;
    font-weight: bold;
    text-align: center;
}

/*link to source*/
h2 {
    font-size: 0.9em;
    font-weight: initial;
    text-align: center;
}

/*.container1 {
    height: 600px;
    width: 1100px;
    position: relative;
}

.container2 {
    height: 500px;
    width: 1000px;
    position: relative;
}*/

#time-slider {
  height: 90px;
}

/*time slider*/
.axis {
  fill: gray;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.axis .halo {
  stroke: gray;
  stroke-width: 4px;
  stroke-linecap: round;
}

.axis .tick text{
  font-size: 15px;
}

.slider .handle path {
  stroke: white;
  stroke-width: 6px;
  stroke-linecap: round;
  pointer-events: none;
}

.slider .handle text {
  fill: gray;
  text-align: center;
  font-size: 15px;
}

.slider-svg {
    margin: auto;
}

#myInput {
    background-image: url('../images/searchicon.png'); /* Add a search icon to input */
    background-position: 6px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

/*table settings*/
#ranktable {
    overflow: scroll;
    height: 300px;
}

th, td { 
  text-align: left; 
  padding: 0 1em 0.5ex 0;
}


/*th, td { 
  padding: 0 1em 0.5ex 0;
}*/

/*th.center, td.center { 
  text-align: center; 
}*/
/*
th.num, td.num { 
  text-align: right; 
}
*/