/*worldmap*/
#worldmap {
    display: inline-block;
    float: left;
    width: 100%; 
    height: 600px;
    position: relative; 
}

/*space between legend blocks*/
.datamaps-legend dd {
    margin-right: 15px;
}

/*location of legend*/
.datamaps-legend {
    left: 325px;
    top: 0;
}

.hovertable {
    width:200px;
}

