.jumbotron {
    background-color: #D3D3D3;
    color: black;
}

.jumbotron-fluid {
    background-color: #D3D3D3;
}
/*worldmap*/
#worldmap {
    height: 500px;
}

/*space between legend blocks*/
.datamaps-legend dd {
    float: right;
}

/*location of legend*/
.datamaps-legend {
	position: absolute;
    top: 95%;
    margin-left: 200px;
}

.hovertable {
    width:200px;
}

/*time slider*/
.axis {
  fill: gray;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.axis .halo {
  stroke: gray;
  stroke-width: 4px;
  stroke-linecap: round;
}

.axis .tick text{
  font-size: 15px;
}

.slider .handle path {
  stroke: white;
  stroke-width: 6px;
  /*stroke-linecap: round;*/
  pointer-events: none;
}

.slider .handle text {
  fill: gray;
  text-align: center;
  font-size: 15px;
}

.slider-svg {
    /*margin: auto;*/
}

.slider-svg g{
    top: 10px;
}

#myInput {
    background-image: url('../images/searchicon.png'); /* Add a search icon to input */
    background-position: 6px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

/*table settings*/
#ranktable {
  font-size: .9em;
}

#tablebody {
    overflow-y: scroll;
    height: 350px;
}

#Ranking {
  width: 79px;
}

#Ranking:before {
  content: "Ranking";
}

#Country {
  width: 130px;
}

#Country:before {
  content: "Country";
}

#CO2emissions {
  width: 94px;
}

#CO2emissions:before {
  content: "CO2 emissions";
}

th, td { 
  width: 303px;
  text-align: left; 
  padding: 0 1em 0.5ex 0;
}

.toolTip {
    position: absolute;
    display: none;
    width: auto;
    height: auto;
    border-radius: 8px 8px 8px 8px;
    color: black;
    font: 25px sans-serif;
    padding: 5px;
    text-align: center;
}

path.slice{
    opacity: 0.7;
}

path {
    stroke-width: 1;
    fill: none;
}

.graph_axis {
    shape-rendering: crispEdges;
}

.graph_x.graph_axis line {
    display: block;
    stroke: lightgrey;
}

.graph_x.graph_axis .minor {
    stroke-opacity: .5;
}

.graph_x.graph_axis path {
    display: none;
}

.graph_x.graph_axis text {
    font-size: 14;
}

.graph_y.graph_axis line, 
.graph_y.graph_axis path {
    fill: none;
    stroke: #000;
}

.graph_y.graph_axis text {
    font-size: 14;
}

.graph_y.graph_axisLeft text {
    fill: red;
}

.graph_y.graph_axisRight text {
    fill: blue;
}

.data1 {
    stroke: red;
}

.data2 {
    stroke: blue;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: green;
  stroke: green;
}

.timeline {
  position: absolute;  
}

.textemissions {
    font-color: blue;
}